* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

html,
body {
  font-family: "Open Sans", sans-serif, Helvetica, Arial, Symbola;
}

a {
  text-decoration: none;
}

/* p */
.p-1 {
  padding: 1rem;
}
/* p */

/* py */
.py-0\.375 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.py-0\.625 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
/* py */

/* px */
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
/* px */

/* pb */
.pb-0\.5 {
  padding-bottom: 0.5rem;
}
/* pb */

/* mt */
.mt-0\.5 {
  margin-top: 0.5rem;
}
/* mt */

/* mb */
.mb-1 {
  margin-bottom: 1rem;
}

.mb-1\.75 {
  margin-bottom: 1.75rem;
}
/* mb */

/* ml */
.ml-0\.5 {
  margin-left: 0.5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-0\.75 {
  margin-left: 0.75rem;
}

.ml-auto {
  margin-left: auto;
}
/* ml */

/* mx */
.mx-auto {
  margin: 0 auto;
}
/* mx */

/* mr */
.mr-0\.5 {
  margin-right: 0.5rem;
}

.mr-0\.75 {
  margin-right: 0.75rem;
}
/* mr */

/* w */
.w-1 {
  width: 1rem;
}
/* w */

/* h */
.h-2\.75 {
  height: 2.75rem;
}
/* h */

/* text-dark */
.text-dark-424242 {
  color: #424242;
}
/* text-dark */

/* text-align */
.text-center {
  text-align: center;
}
/* text-align */

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}
